/*selector global*/
*{ 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

/*body*/
body{
    /*background: url(../img/bg.jpg) #000;*/
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

/*wrap*/
.wrap{
    width: 90%;
    max-width: 1000px;
    /*margin: auto;*/
}

/*widget*/
.widget{
    width: 40%;
    margin: 2em;
    /*margin: 32px;*/
}

/*párrafos del widget*/
.widget p{
    display: inline-block;
    line-height: 1em;
}

/*fecha*/
.fecha{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    /*margin-bottom: 5px;*/
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

/*reloj*/
.reloj{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 4rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj .caja-segundos{
    display: inline-block;
}

.reloj .segundos, .reloj .ampm{
    font-size: 2rem;
    display: block;
}